<a href="https://colab.research.google.com/github/congltk1234/NhapMonKHDL/blob/main/bai_tap_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [31]:
#cau1 = pd.Series([np.random.randint(0, high=10, size=10, dtype=int)])  Kiểu object????
cau1 = pd.Series([31,28,31,3,31,30,31,1,30,31,30,31])
cau1

0     31
1     28
2     31
3      3
4     31
5     30
6     31
7      1
8     30
9     31
10    30
11    31
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [32]:
dict2 = {'Tháng 1': 5, 'Tháng 2': 28, 'Tháng 3': 31, 'Tháng 4': 30, 'Tháng 5': 31, 'Tháng 6': 30, 
              'Tháng 7': 31, 'Tháng 8':9, 'Tháng 9':30, 'Tháng 10':31, 'Tháng 11':30, 'Tháng 12':31}
cau2 = pd.Series(dict2)
cau2

Tháng 1      5
Tháng 2     28
Tháng 3     31
Tháng 4     30
Tháng 5     31
Tháng 6     30
Tháng 7     31
Tháng 8      9
Tháng 9     30
Tháng 10    31
Tháng 11    30
Tháng 12    31
dtype: int64

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [33]:
cau1.index=['Tháng 1','Tháng 2','Tháng 3','Tháng 4','Tháng 5','Tháng 6','Tháng 7','Tháng 8','Tháng 9','Tháng 10','Tháng 11','Tháng 12']
cau3=cau1
cau3

Tháng 1     31
Tháng 2     28
Tháng 3     31
Tháng 4      3
Tháng 5     31
Tháng 6     30
Tháng 7     31
Tháng 8      1
Tháng 9     30
Tháng 10    31
Tháng 11    30
Tháng 12    31
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [34]:
cau2[4]

31

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [35]:
cau3['Tháng 5']

31

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [36]:
cau3[[name.endswith('5') for name in cau3.index]]

Tháng 5    31
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [37]:
cau1.name = 'Gia_tri'
cau1.index.name = 'STT'
cau1

STT
Tháng 1     31
Tháng 2     28
Tháng 3     31
Tháng 4      3
Tháng 5     31
Tháng 6     30
Tháng 7     31
Tháng 8      1
Tháng 9     30
Tháng 10    31
Tháng 11    30
Tháng 12    31
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [38]:
cau1.apply(np.log)

STT
Tháng 1     3.433987
Tháng 2     3.332205
Tháng 3     3.433987
Tháng 4     1.098612
Tháng 5     3.433987
Tháng 6     3.401197
Tháng 7     3.433987
Tháng 8     0.000000
Tháng 9     3.401197
Tháng 10    3.433987
Tháng 11    3.401197
Tháng 12    3.433987
Name: Gia_tri, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [49]:
cau1[cau1>15]

STT
Tháng 1     31
Tháng 2     28
Tháng 3     31
Tháng 5     31
Tháng 6     30
Tháng 7     31
Tháng 9     30
Tháng 10    31
Tháng 11    30
Tháng 12    31
Name: Gia_tri, dtype: int64